<h1>Visited Places</h1>
<div class="resource-filter">
  <div class="resource-filter-outer-wrapper">
    <%= form_for visited_places_path, method: :get do |f| %>
      <div class="resource-filter-wrapper">
        <div class="resource-filter-element">
          <div class="resource-filter-button-label">Region</div>
           <select id="region" name="region" class="select" style="width: 130px;" onchange="$(this).closest('form').submit()">
            <option value="world" <%= "selected" if params[:region] == "world" %>>World</option>
            <option value= 150 <%= "selected" if params[:region] == "150" %>>Europe</option>
            <option value= 002 <%= "selected" if params[:region] == "002" %>>Africa</option>
            <option value= 019 <%= "selected" if params[:region] == "019" %>>Americas</option>
            <option value= 142 <%= "selected" if params[:region] == "142" %>>Asia</option>
            <option value= 009 <%= "selected" if params[:region] == "009" %>>Oceania</option>
          </select>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'visited_places/load_map' %>
<div class="map_outer-wrapper">
  <div class="map_inner-wrapper">
    <div id="regions_div" style="width: 100%;"></div>

    <div class="form-field">
      <%= link_to '+Add visited country', new_visited_place_path(place_type: 'country'), class: "button button-green" %>
    </div>
  </div>
</div>
<h1>Tickets</h1>
<div class="tickets-wrapper">
<% @visited_places.each do |visited_place| %>
  <div class="ticket-outer_wrapper ticket-rotation-<%= rand(1..8)  %> ticket-translation-<%= rand(1..8) %>">
    <div class="ticket-inner_wrapper">
      <div class="ticket-place <%= "ticket-big_text" if visited_place.name.size > 24 %>">
        <%= visited_place.name %>
      </div>
      <div class="ticket-date">
        <%= visited_place.visited_at.strftime("%d. %b. %Y.") %>
      </div>
    </div>
    <div class="ticket-controls">
    <%= link_to 'Delete', visited_place, method: :delete, class: "link-red", data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
</div>
<div class="button button-blue what_is_this-button">What!?</div>
