<p id="notice"><%= notice %></p>

<h1>Listing Things</h1>


<div class="things-wrapper">
  <% @things.each do |thing| %>
    <div class="thing-outer-wrapper">
      <div class="thing-wrapper">
        <div class="thing-description"><p><%= thing.description %></p></div>
        <div class="thing-bottom-part">
          <div class="thing-hardness"><%= thing.achievement_heaviness %></div>
          <%= link_to 'Edit', edit_thing_path(thing), class: "link-yellow" %>
          <%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-red" %>
          <a href="#" class="link-green">Mark as Done</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="button button-blue what_is_this-button">What!?</div>
<%= link_to '+AddThing', new_thing_path, class: "button button-green fixed-control" %>