<%= form_for @tournament, html: { class:"form" } do |f| %>
  <%= render partial: 'layouts/error_messages', as: :object, object: @tournament %>

  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <div class="form-field-label">Name</div>
      <%= f.text_field :name, placeholder: "Tournament name...", class: "text-field" %>
    </div>
  </div>

  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <div class="form-field-label">End Date</div>
      <%= f.date_select :end_date, start_year: DateTime.now.year, class: "select-field" %>
    </div>
  </div>

  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <%= f.submit "Submit", class: "button button-green" %>
      <%= @tournament.new_record? ? link_to("Back", tournaments_path, class: "button button-red") : link_to("Back", tournament_path(@tournament), class: "button button-red") %>
    </div>
  </div>

<% end %>