
<%= form_for @setting, html: {class: "form"} do |f| %>
<div class="resource-filter-outer-wrapper">
  <div class="resource-filter-wrapper">
    <div class="resource-filter-element">
      <div class="resource-filter-button-label">Let it snow</div>
        <div class="resource-filter-element">
          <div class="btn-switch">
              <input type="radio" <%= "checked" if f.object.snow_switch %> id="yes" name="setting[snow_switch]" value="true" class="btn-switch__radio btn-switch__radio_yes" />
              <input type="radio" <%= "checked" unless f.object.snow_switch %> id="no" name="setting[snow_switch]" value="false" class="btn-switch__radio btn-switch__radio_no" />
              <label for="yes" class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt">Yes</span></label>
              <label for="no" class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt">No</span></label>
          </div>
        </div>
        <div class="resource-filter-element">
          <div class="resource-filter-button-label">Light it up</div>
          <div class="btn-switch">
              <input type="radio" <%= "checked" if f.object.christmas_lights_switch %> id="lights-yes" name="setting[christmas_lights_switch]" value="true" class="btn-switch__radio btn-switch__radio_yes" />
              <input type="radio" <%= "checked" unless f.object.christmas_lights_switch %> id="lights-no" name="setting[christmas_lights_switch]" value="false" class="btn-switch__radio btn-switch__radio_no" />
              <label for="lights-yes" class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt">Yes</span></label>
              <label for="lights-no" class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt">No</span></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-field">
  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <div class="form-field-label"><%= other_pudding.name %> is using:</div>
    </div>
  </div>
</div>

<div class="other_pudding_settings-wrapper">
  <div class="other_pudding_setting-outer_wrapper">
    <div class="other_pudding_setting-inner_wrapper">
       <div class="other_pudding_settings other_background background-pattern-<%= other_pudding.setting.background %>">
       </div>
    </div>
  </div>
  <div class="other_pudding_setting-outer_wrapper">
    <div class="other_pudding_setting-inner_wrapper">
       <div class="other_pudding_settings other_text sticker-color-<%= other_pudding.setting.post_it_color %>">
         Pudding App
       </div>
    </div>
  </div>
</div>

<div class="form-field">
  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <div class="form-field-label">Choose Background</div>
    </div>
  </div>
</div>


<div class="desktop-only">
  <% ["christmas_one", "christmas_two", "christmas_three", "christmas_four", "christmas_five", "christmas_six"].each do |background| %>
  <div class="background-option-outer-wrapper js_background js_background-<%= background %>" value="<%= background %>" onclick="backgroundOptionClicked($(this))" >
    <div class="background-option-wrapper">
      <div class="background-option background-pattern-<%= background %>">
        
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="mobile-only">
  <div class="owl-carousel owl-carousel-one">
    <% ["christmas_one", "christmas_two", "christmas_three", "christmas_four", "christmas_five", "christmas_six"].each do |background| %>
    <div class="background-option-outer-wrapper js_background js_background-<%= background %>" value="<%= background %>" onclick="backgroundOptionClicked($(this))" >
      <div class="background-option-wrapper">
        <div class="background-option background-pattern-<%= background %>">
          
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="form-field">
  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <div class="form-field-label">Choose Your Notes Text Color</div>
    </div>
  </div>
</div>

<div class="desktop-only">
  <% ["default", "blue", "red", "green"].each do |post_it_color| %>
  <div class="background-option-outer-wrapper js_post_it_color js_post_it_color-<%= post_it_color %>" value="<%= post_it_color %>" onclick="textColorOptionClicked($(this))" >
    <div class="background-option-wrapper">
      <div class="background-option settings-text sticker-color-<%= post_it_color %>">
        Chose Meee!
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="mobile-only">
  <div class="owl-carousel owl-carousel-two">
    <% ["default", "blue", "red", "green"].each do |post_it_color| %>
    <div class="background-option-outer-wrapper js_post_it_color js_post_it_color-<%= post_it_color %>" value="<%= post_it_color %>" onclick="textColorOptionClicked($(this))" >
      <div class="background-option-wrapper">
        <div class="background-option settings-text sticker-color-<%= post_it_color %>">
          Chose Meee!
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

  <div class="field">
    <%= f.hidden_field :post_it_color %>
    <%= f.hidden_field :background %>
    <%= hidden_field_tag :return_to, value: @return_to %>
  </div>

  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <%= f.submit "Save Changes", class: "button button-green" %>
      <%= link_to "Cancel", root_path, class: "button button-red" %>
    </div>
  </div>

<% end %>

<script>
  $(function(){
    $(".js_background-<%= current_pudding.setting.background %>").children("div").css( "border", "3px dashed green" );
    $(".js_post_it_color-<%= current_pudding.setting.post_it_color %>").children("div").css( "border", "3px dashed green" );
  });

  function backgroundOptionClicked(clicked){
    $(".js_background").children("div").css( "border", "3px dashed white" );
    $(clicked).children("div").css( "border", "3px dashed green" );
    $("#setting_background").attr("value", clicked.attr("value"));
  }

  function textColorOptionClicked(clicked){
    $(".js_post_it_color").children("div").css( "border", "3px dashed white" );
    $(clicked).children("div").css( "border", "3px dashed green" );
    $("#setting_post_it_color").attr("value", clicked.attr("value"));
  }

  // alert($("js_background").index($(".js_background-diagonal-yellow")));
  $(".owl-carousel-one").owlCarousel({
    loop:false,
    startPosition: $(".js_background").index($(".js_background-<%= current_pudding.setting.background %>").first()),
    responsive:{
        0:{
            items:1,
            loop:true
        },
        600:{
            items:1,
            loop:true
        },
        900:{
            items:1,
        },
        1200:{
            items:4,
        }
    }
  });

  $(".owl-carousel-two").owlCarousel({
    loop:false,
    startPosition: $(".js_post_it_color").index($(".js_post_it_color-<%= current_pudding.setting.post_it_color %>").first()),
    responsive:{
        0:{
            items:1,
            loop:true
        },
        600:{
            items:1,
            loop:true
        },
        900:{
            items:1,
        },
        1200:{
            items:4,
        }
    }
  });


</script>