<%= form_for @song, html: {class:"form"} do |f| %>
  <%= render partial: 'layouts/error_messages', as: :object, object: @song %>

  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <div class="form-field-label">Name</div>
        <%= f.text_field :name, placeholder: "Name...", class: "text-field" %>
      </div>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <div class="form-field-label">Artist</div>
        <%= f.text_field :artist, placeholder: "Artist...", class: "text-field" %>
      </div>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <div class="form-field-label">URL</div>
        <%= f.text_field :url, placeholder: "URL...", class: "text-field" %>
      </div>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <%= f.submit "Submit", class: "button button-green" %>
        <%= link_to 'Back', songs_path, class: "button button-red" %>
      </div>
    </div>
  </div>

<% end %>
