<div class="button button-blue what_is_this-button"><strong>?</strong></div>
<h1>Toolkit</h1>
<div class="wrapped-control-center">
  <div class="control-outer-wrapper js_things">
    <div class="control-wrapper green-control">
      OK
    </div>
  </div>
</div>

<div class="things-wrapper">
  <div class="thing-outer-wrapper">
    <div class="thing-wrapper">
      <div class="thing-description"><p>Climb a tree</p></div>
      <div class="thing-bottom-part">
        <div class="thing-hardness">One Day</div>
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
        <a href="#" class="link-green">Mark as Done</a>
      </div>
    </div>
  </div>

  <div class="thing-outer-wrapper">
    <div class="thing-wrapper">
      <div class="thing-top-links-wrapper">
      </div>
      <div class="thing-description"><p>Share a chocolate you love</p></div>
      <div class="thing-bottom-part">
        <div class="thing-hardness">One Day</div>
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
        <a href="#" class="link-green">Mark as Done</a>
      </div>
    </div>
  </div>

  <div class="thing-outer-wrapper">
    <div class="thing-wrapper">
      <div class="thing-top-links-wrapper">
      </div>
      <div class="thing-description"><p>Try to fix when there is too much text</p></div>
      <div class="thing-bottom-part">
        <div class="thing-hardness">One Day</div>
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
        <a href="#" class="link-green">Mark as Done</a>
      </div>
    </div>
  </div>
</div>

<div class="wrapped-text-center">
  <div class="text-outer-wrapper js_songs">
    <div class="text-wrapper">
      Songs
    </div>
  </div>
</div>

<div class="songs-wrapper">
  <div class="song-outer-wrapper">
    <div class="song-wrapper">
      <iframe width="400" height="300" src="https://www.youtube.com/embed/TazHNpt6OTo?showinfo=0" class="song"></iframe>
      <div class="song-name">Pina coladaaas</div>
      <div class="song-links-wrapper">
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
      </div>
    </div>
  </div>
  <div class="song-outer-wrapper">
    <div class="song-wrapper">
      <iframe width="400" height="300" src="https://www.youtube.com/embed/TazHNpt6OTo?showinfo=0" class="song"></iframe>
      <div class="song-name">Pina coladaaas</div>
      <div class="song-links-wrapper">
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="wrapped-text-center">
  <div class="text-outer-wrapper js_beers">
    <div class="text-wrapper">
      Beers
    </div>
  </div>
</div>

<div class="beers-wrapper">
  <div class="beer-outer_wrapper">
    <div class="beer-wrapper">
      <div class="beer-rating">1.</div>
      <p>Name</p>
      <p>Country</p>
      <p>720</p>
      <p>Type</p>
      <div class="beer-links">
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
      </div>
    </div>
  </div>

  <div class="beer-outer_wrapper">
    <div class="beer-wrapper">
      <div class="beer-rating">10.</div>
      <p>Name</p>
      <p>Country</p>
      <p>720</p>
      <p>Type</p>
      <div class="beer-links"><a href="#" class="link-yellow">Edit</a><a href="#" class="link-red">Delete</a></div>
    </div>
  </div>
</div>
</div>

<div class="wrapped-text-center">
  <div class="text-outer-wrapper js_tournaments">
    <div class="text-wrapper">
      Tournaments
    </div>
  </div>
</div>

<div class="tournaments-wrapper">
  <div class="tournament-outer-wrapper">
    <div class="tournament-wrapper tournament-active">
      <div class="tournament-title">
        <div class="badge-ribbon">1</div>
        <a href="#" class="link-big">Some Looooooooong Name</a>
      </div>
      <div class="tournament-section">
        <p>Vedran(12) - Elizabeta(5)</p>
      </div>
      <div class="tournament-section">
        <p>2 days left</p>
      </div>
    </div>
  </div>
  <div class="tournament-outer-wrapper">
    <div class="tournament-wrapper tournament-finished">
      <div class="tournament-title">
        <div class="badge-ribbon">2</div>
        <a href="#" class="link-big">Name</a>
      </div>
      <div class="tournament-section">
        <p>Vedran(12) - Elizabeta(5)</p>
      </div>
      <div class="tournament-section">
        <p>Finished</p>
      </div>
    </div>
  </div>
</div>
<div class="tournament-show-title-outer-wrapper">
  <div class="tournament-show-title-wrapper">
    <div class="tournament-show-title">
      Urnebesni Tournament
    </div>
    <div class="tournament-show-dates">
      21.08.2017 - 30.10.2017
    </div>
    <div class="tournament-show-links">
      <a href="#" class="link-yellow">Edit</a>
      <a href="#" class="link-red">Delete</a>
    </div>
  </div>
</div>

<div class="tournament-show-title-outer-wrapper">
  <div class="tournament-show-title-wrapper">
    <div class="tournament-show-title">
      Urnebesni Tournament
    </div>
    <div class="tournament-show-dates">
      7 days left
    </div>
    <div class="tournament-show-links">
      <a href="#" class="link-yellow">Edit</a>
      <a href="#" class="link-red">Delete</a>
    </div>
  </div>
</div>

<div class="tournament-score">
  <div class="tournament-pudding-score-outer-wrapper">
    <div class="tournament-pudding-score-wrapper">
      <div class='winner-ribbon-wrapper'><div class='winner-ribbon'></div></div>
      <div class="tournament-pudding-score winning">
        10
      </div>
      <div class="tournament-pudding-name">
        Vedran
      </div>
    </div>
  </div>
  <div class="tournament-pudding-score-outer-wrapper">
    <div class="tournament-pudding-score-wrapper">
      <div class="tournament-pudding-score losing">
        7
      </div>
      <div class="tournament-pudding-name">
        Elizabeta
      </div>
    </div>
  </div>
</div>
<div class="matches-wrapper">
  <div class="match-outer-wrapper">
    <div class="match-wrapper">
      <div class="match-links">
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
      </div>
      <div class="match-place">Neko dobro mjesto</div>
      <div class="match-date">21.08.2017.</div>
      <div class="match-results-wrapper">
        <div class="match-result-wrapper">
          <div class="match-player-name">Vedran</div>
          <div class="match-result losing">1</div>
        </div>
        <div class="match-result-wrapper">
          <div class="match-player-name">Elizabeta</div>
          <div class="match-result winning">3</div>
        </div>
      </div>
    </div>
  </div>

    <div class="match-outer-wrapper">
    <div class="match-wrapper">
      <div class="match-links">
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
      </div>
      <div class="match-place">Neko dobro mjesto</div>
      <div class="match-date">21.08.2017.</div>
      <div class="match-results-wrapper">
        <div class="match-result-wrapper">
          <div class="match-player-name">Vedran</div>
          <div class="match-result losing">1</div>
        </div>
        <div class="match-result-wrapper">
          <div class="match-player-name">Elizabeta</div>
          <div class="match-result winning">3</div>
        </div>
      </div>
    </div>
  </div>

  <div class="match-outer-wrapper">
    <div class="match-wrapper">
      <div class="match-links">
        <a href="#" class="link-yellow">Edit</a>
        <a href="#" class="link-red">Delete</a>
      </div>
      <div class="match-place">Neko dobro mjesto</div>
      <div class="match-date">21.08.2017.</div>
      <div class="match-results-wrapper">
        <div class="match-result-wrapper">
          <div class="match-player-name">Vedran</div>
          <div class="match-result losing">1</div>
        </div>
        <div class="match-result-wrapper">
          <div class="match-player-name">Elizabeta</div>
          <div class="match-result winning">3</div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="wrapped-text-center">
  <div class="text-outer-wrapper js_notes">
    <div class="text-wrapper">
      Notes
    </div>
  </div>
</div>

<div class="sticker sticker-color-default">A toolkit is
nice place to
show of!
<a href="#" class= "link-red">Destroy</a>
</div>

<div class="wrapped-text-center">
  <div class="text-outer-wrapper js_typography">
    <div class="text-wrapper">
      Typography
    </div>
  </div>
</div>

<h1>This is h1 header</h1>
<h2>This is h2 header</h2>
<h3>This is h3 header</h3>
<h4>This is h4 header</h4>

<div class="text-outer-wrapper">
  <div class="text-wrapper">
    This text willingly allowed me to wrap it
  </div>
</div>

    <div id="error_explanation">
      <div class="alert-error-list">
        <div class="error-wrapper">
          <p class="error">This is error</p>
        </div>
        <div class="error-wrapper">
          <p class="error">This is error</p>
        </div>
      </div>
    </div>

<div class="wrapped-text-center">
  <div class="text-outer-wrapper js_forms">
    <div class="text-wrapper">
      Forms
    </div>
  </div>
</div>

<div class="form-field-outer-wrapper">
  <div class="form-field-wrapper">
    <div class="form-field-label">Vedran</div>
      <input type="text" name="" placeholder="Text field..." class="text-field">
  </div>
</div>


<div class="form-field-outer-wrapper">
  <div class="form-field-wrapper">
    <div class="form-field-label">Vedran</div>
    <div class="number-field-decrement number-field-control">-</div>
      <input type="number" name="" value= 0 class="number-field" min="0" disabled>
    <div class="number-field-increment number-field-control">+</div>
  </div>
</div>


<div class="form-field-outer-wrapper">
  <div class="form-field-wrapper">
    <div class="form-field-label">Vedran</div>
      <select id="" name="" class="select">
        <option disabled selected>Select option...</option>
        <option>Option 1</option>
        <option>Option 2</option>
      </select>
  </div>
</div>

<div class="form-field-outer-wrapper">
  <div class="form-field-wrapper">
<div>
  <div><div class="input-title">Rating</div></div>
  <input type="range" class="range-field" min= 1 max= 1000 %>
</div>
</div>
</div>

<div class="form-field-outer-wrapper">
  <div class="form-field-wrapper">
    <div>
      <div><div class="input-title">Rating</div></div>
      <input type="range" class="range-field" min= 1 max= 1000 %>
    </div>
  </div>
</div>

<div class="form-field-outer-wrapper">
  <div class="form-field-wrapper">
    <%= link_to "Button", "#", class: "button button-red" %>
    <%= link_to "Button", "#", class: "button button-green" %>
    <%= link_to "Button", "#", class: "button button-blue" %>
    <%= link_to "Button", "#", class: "button button-yellow" %>
  </div>
</div>

<div class="form-field-outer-wrapper">
  <div class="form-field-wrapper">
    <%= link_to "Button", "#", class: "button button-red" %>
  </div>
</div>

<script>
function scrollTo(elementClass){
  var $container = $("html,body");
  var $scrollTo = $("."+elementClass);

  $container.animate({scrollTop: $scrollTo.offset().top - $container.offset().top + $container.scrollTop(), scrollLeft: 0},1000);
}
</script>