<h1>Compose Christmas<br>Poem</h1>
<div class="center-inblock">
	<div class="poem-outer_wrapper">
		<div class="poem-inner_wrapper">
			<div class="poem">
				<div class="poem-verse">
					<div class="poem-line">
						Kraj 
						<div class="icon-placeholder empty"></div>
						sjedili su
						<div class="icon-placeholder empty"></div>
						su jeli,
					</div>
					<div class="poem-line">
						Kad su vidjeli kroz
						<div class="icon-placeholder empty"></div>
						gusti
						<div class="icon-placeholder empty"></div>
						bijeli.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						Navukli su 
						<div class="icon-placeholder empty"></div>
						,
						<div class="icon-placeholder empty"></div>
						na ruke,
					</div>
					<div class="poem-line">
						I debele
						<div class="icon-placeholder empty"></div>
						da im ne
						<div class="icon-placeholder empty"></div>
						dupe.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						Skupljali su 
						<div class="icon-placeholder empty"></div>
						da
						<div class="icon-placeholder empty"></div>
						ožive,
					</div>
					<div class="poem-line">
						Pjevušili su
						<div class="icon-placeholder empty"></div>
						dok išli su na
						<div class="icon-placeholder empty"></div>
						.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						<div class="icon-placeholder empty"></div>
						svaki metar su otresali do
						<div class="icon-placeholder empty"></div>
						,
					</div>
					<div class="poem-line">
						Gdje su se grijali uz
						<div class="icon-placeholder empty"></div>
						i
						<div class="icon-placeholder empty"></div>
						.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						Šarenim su
						<div class="icon-placeholder empty"></div>
						ukrasili
						<div class="icon-placeholder empty"></div>
						,
					</div>
					<div class="poem-line">
						Zelenoga
						<div class="icon-placeholder empty"></div>
						koji
						<div class="icon-placeholder empty"></div>
						na sve strane.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						Pored
						<div class="icon-placeholder empty"></div>
						ljubili se ispod
						<div class="icon-placeholder empty"></div>
						,
					</div>
					<div class="poem-line">
						Osli u
						<div class="icon-placeholder empty"></div>
						čekat Božić koji svima
						<div class="icon-placeholder empty"></div>
						žele.
					</div>
				</div>
				<div class="form-field">
					<%= form_for ChristmasSong.new, url: check_sequence_path, method: :post do |f| %>
						<%= f.hidden_field :sequence %>
				    	<%= f.submit "Compose", class: "button button-yellow js_compose_button" %>
				    <% end %>
				</div>

			</div>
		</div>
	</div>

	
	<div class="icons_set-wrapper calendar">
		<div class="icons_set-inner_wrapper">
			<div class="icons_set-slider_button-wrapper">
				<div class="icons_set-slider_button icons_set-closed">
					<%= image_tag "icons/arrow-right.svg", width: 20 %>
				</div>
			</div>
			<% @calendar_numbers.numbers_drawn.each_with_index do |item, index| %>
		        <div class="compose_item-wrapper">
		            <div class="compose_item-inner_wrapper" data-id=<%= item %>>
		                <%= image_tag "christmas_items/#{item}.svg", "data-id": "#{item}", class: "compose_item", id: "icon_#{item}" %>
		            </div>
		        </div>
		    <% end %>
		</div>
	</div>

</div>
<div class="button button-blue what_is_this-button">What!?</div>

<script>
	$(".compose_item").on("click", function(){
		var $wrapper = $(this).closest("div").addClass("empty");
		var $detached = $(this).toggleClass("attached").detach();
		var id = $(this).data("id");
		if($detached.hasClass("attached")){
			$(".icon-placeholder.empty").first().append($detached).removeClass("empty");
		}else{
			$detached.closest(".icon-placeholder").addClass("empty");
			$(".compose_item-inner_wrapper[data-id='"+id+"']").append($detached);
		}
	})

	$("#new_christmas_song").submit(function(e){
		if($(".icon-placeholder.empty").length < 1){
			var sequence = [];
			$(".compose_item").each(function(){
				sequence.push($(this).data("id"));
			})
			$("#christmas_song_sequence").val(sequence.join(","));
		}else{
			e.preventDefault();
		}
	})

	$(".icons_set-slider_button").on("click", function(){
		$(this).toggleClass("icons_set-closed");
		var height = $(".icons_set-wrapper").height()-35;
		if($(this).hasClass("icons_set-closed")){
			$(".icons_set-wrapper").css({
				"transform": "translateY("+height+"px)",
			})
			$(".what_is_this-button").removeClass("move_away").addClass("move_in");
		}else{
			$(".icons_set-wrapper").css({
				"transform": "translateY(0)"
			})
			$(".what_is_this-button").addClass("move_away").removeClass("move_in");
		}
	})

	$(function(){
		var height = $(".icons_set-wrapper").height();
		$(".icons_set-wrapper").css({
				"transform": "translateY("+(height-35)+"px)",
		})
		$("body").css({"padding-bottom": height+30+"px"});
	})
</script>