<h1>Prove that you are Pudding</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"form", autocomplete:"off"}) do |f| %>
  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <div class="form-field-label">Your Name</div>
        <%= f.text_field :name, autofocus: true, placeholder: "Name...", class: "text-field" %>
      </div>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <div class="form-field-label">Password</div>
        <%= f.password_field :password, placeholder: "Password...", class: "text-field" %>
      </div>
    </div>
  </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <%= f.submit "Log in", class: "button button-green" %>
      </div>
    </div>
  </div>

<% end %>

<div class="wrapped-text-center">
  <div class="text-outer-wrapper" style="width: 70%;">
    <div class="text-wrapper" style="font-size: 30px;">
      <%= @random_quote %>
    </div>
  </div>
</div>