<h1>Log In</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"form", autocomplete:"off", style: "#{'display: none;' if params[:hint_step]}"}) do |f| %>
  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <div class="form-field-label">Your Name</div>
        <%= f.text_field :name, autofocus: true, placeholder: "Name...", class: "text-field" %>
      </div>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <div class="form-field-label">Password</div>
        <%= f.password_field :password, placeholder: "Password...", class: "text-field" %>
      </div>
    </div>
  </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  <div class="form-field">
    <div class="form-field-outer-wrapper">
      <div class="form-field-wrapper">
        <%= f.submit "Log in", class: "button button-green" %>
        <%= link_to "Password Hint#{params[:hint_step] ? (' No. '+(params[:hint_step].to_i+1).to_s) : '' }?", new_pudding_session_path(hint_step: params[:hint_step] || 0), class: "button button-blue" %>
      </div>
    </div>
  </div>

<% end %>

<div class="wrapped-text-center">
  <div class="text-outer-wrapper" style="width: 70%;">
    <div class="text-wrapper" style="font-size: 30px;">
      <%= @random_quote %>
    </div>
  </div>
</div>

<% if params[:hint_step] %>
  <div class="ok_button wrapped-control-center" onclick="showForm()">
    <div class="ok_button-outer-wrapper">
      <div class="ok_button-wrapper">
        OK
      </div>
    </div>
  </div>
<% end %>

<script>
  function showForm(){
    $(".ok_button").hide();
    $("#new_pudding").slideDown();
  }
</script>