<div class="beer-outer_wrapper">
  <div class="beer-wrapper">
    <div class="beer-rating"><%= index+1 %>.</div>
    <p><%= beer.name %></p>
    <p><%= beer.country %></p>
    <p><%= drinking_again(beer.drink_again) %></p>
    <p><%= beer.beer_type %></p>
    <div class="beer-links">
      <%= link_to 'Edit', edit_beer_path(beer), class: "link-yellow" %>
      <%= link_to 'Destroy', beer, class: "link-red", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>