<%= form_for @beer, html: {class:"form"} do |f| %>
  <%= render partial: 'layouts/error_messages', as: :object, object: @beer %>

<div class="form-field">
  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <div class="form-field-label">Name</div>
      <%= f.text_field :name, class: "text-field", placeholder: "Name..." %>
    </div>
  </div>

  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <div class="form-field-label">Country</div>
      <%= f.select :country, options_for_select(countries, f.object.country), class: 'select' %>
    </div>
  </div>
</div>

<div class="form-field-outer-wrapper">
  <div class="form-field-wrapper">
    <div class="form-field-label">Will we drink it again?</div>
          <div class="btn-switch">
            <%= f.radio_button :drink_again, true, id: "yes", class:"btn-switch__radio btn-switch__radio_yes" %>
            <%= f.radio_button :drink_again, false, id: "no", class:"btn-switch__radio btn-switch__radio_no" %>
            <label for="yes" class="btn-switch__label btn-switch__label_yes">
              <span class="btn-switch__txt">Yes</span>
            </label>
            <label for="no" class="btn-switch__label btn-switch__label_no">
              <span class="btn-switch__txt">No</span>
            </label>
        </div>
    </div>
  </div>
</div>

<div class="form-field">
  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <div class="form-field-label">Beer Type</div>
      <%= f.select :beer_type, options_for_select([["Select beer type...", ""], "Lager", "Craft", "Wheat Beer", "Dark Beer", "Red Beer"], f.object.beer_type), class: 'select' %>
    </div>
  </div>
</div>

<div class="form-field">
  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <%= f.submit "Submit", class: "button button-green" %>
      <%= link_to 'Back', beers_path, class: "button button-red" %>
    </div>
  </div>
</div>
<% end %>
