<p id="notice"><%= notice %></p>

<h1>Tasting Center</h1>
<div class="beers-wrapper">
  <% @beers.each_with_index do |beer, index| %>
        <%#= link_to 'Edit', edit_beer_path(beer) %>
        <%#= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %>
    <div class="beer-outer_wrapper">
      <div class="beer-wrapper">
        <div class="beer-rating"><%= index+1 %>.</div>
        <p><%= beer.name %></p>
        <p><%= beer.country %></p>
        <p><%= beer.rating %></p>
        <p><%= beer.beer_type %></p>
        <div class="beer-links">
          <%= link_to 'Edit', edit_beer_path(beer), class: "link-yellow" %>
          <%= link_to 'Destroy', beer, class: "link-red", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

      </div>
    </div>
  <% end %>
</div>

<div class="button button-blue what_is_this-button">What!?</div>
<%= link_to '+AddBeer', new_beer_path, class: "button button-green fixed-control" %>
