<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @beer.image %>
</p>

<p>
  <strong>Country:</strong>
  <%= @beer.country %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @beer.rating %>
</p>

<p>
  <strong>Beer type:</strong>
  <%= @beer.beer_type %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
