<%= form_for @post_it, html: { class: "form" } do |f| %>
  <%= render partial: 'layouts/error_messages', as: :object, object: @post_it %>

  <%= f.hidden_field :pudding_id, value: current_pudding.id %>

  <%= f.text_area :message, class: "js_message", style: "opacity: 0; position: absolute; z-index: -9;" %>
  <div class="sticker sticker-color-<%= current_pudding.setting.post_it_color %>" style="margin: auto;"></div>

  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper">
      <%= f.submit "Submit", class: "button button-green" %>
      <%= link_to "Back", post_its_path, class: "button button-red" %>
    </div>
  </div>
<% end %>

<script>
$(function(){
  $('.js_message').focus();
});
$('.js_message').keyup(function(){
  var message = $('.js_message').val();
  $('.sticker').text(message);
});
$('.sticker').click(function(){
  $('.js_message').focus();
});

</script>