<nav class="nav">
  <%= link_to root_path, class: "nav-title-wrapper" do %><%= image_tag "favicon.ico", class: "nav-title-icon" %><h2 class="nav-title">PuddingApp</h2><% end %>
  <div class="nav-links">
    <%= active_link_to "JukeBox", songs_path, class: "nav-link", active: [['songs', 'song_of_the_days'],[]] %>
    <%= active_link_to "Places", visited_places_path, class: "nav-link" %>
    <%#= active_link_to "TastingCenter", beers_path, class: "nav-link" %>
    <%= active_link_to "Tournaments", tournaments_path, class: "nav-link" %>
    <%#= active_link_to "Toolkit", toolkit_path, class: "nav-link" %>
    <%= active_link_to "Bucketlist", things_path, class: "nav-link" %>
    <%= active_link_to "Holidays", holidays_path, class: "nav-link" %>
    <%= active_link_to "Notes xD", post_its_path, class: "nav-link" %>
    <%= active_link_to "Settings", settings_path, class: "nav-link" %>
    <%= active_link_to "About", about_path, class: "nav-link" %>
    <%= active_link_to "LogOut", destroy_pudding_session_path, data: {method: :delete}, class: 'nav-link' %>
  </div>
</nav>

<script>
  $(function(){
    // toggleNavTitle();
  });
  window.onresize = function(event) {
    // toggleNavTitle();
  };
  function toggleNavTitle(){
    var x = $(window).width();
    if(x < 1100){
      $(".nav-title").hide();
    }else{
      $(".nav-title").show();
    }
  }
</script>
