<% if Date.today.month == 12 && current_pudding.count_numbers_drawn < 24 && current_pudding.count_numbers_drawn < Date.today.day && !current_page?(christmas_calendar_path) %>
	<div class="side_notification-outer_wrapper closed hidden">
		<div class="side_notification-inner_wrapper">
			<div class= "side_notification-opener">
				<%= image_tag 'christmas_items/calendar.svg', class: "side_notification-icon" %>
				<span><%= number_of_new_calendar_days %></span>
			</div>
			<div class="side_notification-link">
				<%= link_to christmas_calendar_path do %>
					<span><%= new_calendar_days %></span>
				<% end %>
			</div>
		</div>
	</div>

<% elsif !current_pudding.setting.christmas_song_solved && current_pudding.count_numbers_drawn > 23 && !current_page?(compose_path) %>
	<div class="side_notification-outer_wrapper closed hidden">
		<div class="side_notification-inner_wrapper">
			<div class= "side_notification-opener">
				<%= image_tag 'christmas_items/poem.svg', class: "side_notification-icon" %>
				<span>POEM</span>
			</div>
			<div class="side_notification-link">
				<%= link_to compose_path do %>
					<span>Compose a christmas poem with your items!</span>
				<% end %>
			</div>
		</div>
	</div>

<% elsif !current_pudding.setting.snow_switch && !current_page?(settings_path) %>
	<div class="side_notification-outer_wrapper closed hidden">
		<div class="side_notification-inner_wrapper">
			<div class= "side_notification-opener">
				<%= image_tag 'christmas_items/4.svg', class: "side_notification-icon" %>
				<span>SNOW</span>
			</div>
			<div class="side_notification-link">
				<%= link_to settings_path do %>
					<span>Turn ON the switch and let it snow!</span>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<script>
	setTimeout(function(){
		$(".side_notification-outer_wrapper").removeClass("hidden");
	}, 2000);
	$(".side_notification-opener").on("click", function(){
		$(".side_notification-outer_wrapper").toggleClass("closed");
	})
	$(window).scroll(function() {
		if(!$(".side_notification-outer_wrapper").hasClass("closed")){
			setTimeout(function(){
   				$(".side_notification-outer_wrapper").addClass("closed");
			}, 500);
		}
	});
</script>