<!DOCTYPE html>
<html>
<head>
  <title>PuddingApp</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <link rel="manifest" href="/manifest.json" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

</head>

<body class="background-pattern-<%= current_pudding.setting.background %>">
  <%= render 'layouts/header' %>
  <div class="js_notices">
    <%= render 'layouts/notices' %>
  </div>
  <main class="main">
    <%= yield %>
  </main>
  <%= render 'modals/modal', about_page: @about_page if @about_page %>
  <%= render 'layouts/side_notification' %>
  <%#= render 'layouts/footer' %>
  <script>
    <% if current_pudding.setting.snow_switch %>
      $(function(){
        $.fn.snow({ minSize: 5, maxSize: 30, newOn: 300 });
      });
    <% end %>
  </script>
</body>
</html>
