<!DOCTYPE html>
<html>
<head>
  <title>PuddingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class="background-pattern-<%= current_pudding.setting.background %>">
  <%= render 'layouts/header' %>
  <div class="js_notices">
    <%= render 'layouts/notices' %>
  </div>
  <main class="main">
    <%= yield %>
  </main>
  <%= render 'modals/modal', about_page: @about_page if @about_page %>
  <%#= render 'layouts/footer' %>
    <script>
    $(function(){
      $.fn.snow({ minSize: 5, maxSize: 50, newOn: 700 });
    });
  </script>
</body>
</html>
