<!DOCTYPE html>
<html>
<head>
  <title>PuddingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="gradient-pattern-checked-gray">
  <%= render 'layouts/devise_header' %>
  <%= yield %>
  <%#= render 'layouts/footer' %>
</body>
</html>
